<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>エコーボット</title>
</head>
<body>
<script src="https://riversun.github.io/chatux/chatux.min.js"></script>
<script>
    // original source code
    // license: MIT
    // https://github.com/riversun/chatux-examples-ja
    const chatux = new ChatUx();

    //ChatUXの初期化パラメータ
    const initParam =
        {
            renderMode: 'auto',
            api: {
                //echo chat server
                endpoint: 'http://127.0.0.1:5001/chat',
                method: 'GET',
                dataType: 'jsonp',
                escapeUserInput: false
            },
            bot: {
                // botPhoto のURLにHTTPSを指定してicon取得できないミスしないように...
                // original https://www.flaticon.com/free-icon/grinning_2171967?term=shiba+inu&page=1&position=8&origin=search&related_id=2171967
                // license : Free for personal and commercial use with attribution. More info
                botPhoto: 'http://127.0.0.1:5001/icon/botPhoto',
                humanPhoto: null,
                widget: {
                    sendLabel: '送信',
                    placeHolder: '何か話しかけてみてください'
                }
            },
            window: {
                title: 'エコーボット',
                infoUrl: 'https://github.com/riversun/chatux'
            }
        };
    chatux.init(initParam);
    chatux.start(true);

</script>
</body>
</html>